* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 1rem;
    padding: 2em;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 550px) {

    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}

#drum-machine {
    border: #55b2f4 8px solid;
    border-radius: 1em;
    max-width: 400px;
    width: 100%;
    margin: 1em;
    padding: 1em;
}


@media (min-width: 550px) {


    #drum-machine {
        margin: 0;
        min-width: 450px;
        max-width: 700px;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }


    .controls.flex {
        border: red 2px solid;
        flex-direction: column;
    }


}


.btns {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;


}

@media (min-width: 550px) {

    .btns {
        width: 70%;
        margin-bottom: 0;
        margin-right: 2em;
        flex-direction: row;
    }

}


.drum-pad {
    font-weight: 800;
    background-color: #e6e6e6;
    margin: .3em;
    padding: 1em 2em;
    border: #0fc3ff 2px solid;
    border-radius: .3em;
    cursor: pointer;
}

.key-pressed{
    background-color: red;

}

.drum-pad:active,.drum-pad:hover {
    background-color: #f9f7f7;
    outline: none;
}

@media (min-width: 550px) {
    .drum-pad {
        font-size: 1rem;
        display: inline;
    }
}


.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;

}

@media (min-width: 550px) {

    .controls {
        width: 35%;
        margin-top: 0;
    }

    #display {
        margin: 1em;
    }
}


#display {
    border-radius: 1em;
    margin: 2em 0;
    width: 100%;
    background-color: bisque;
    padding: 1.35em;
    text-align: center;
}

.sound-id {
    line-height: 0;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: bold;
}

.slider {
    margin-bottom: 1em;
}

.bank {
    margin-bottom: 1em;
}



.control-btn{
    font-weight: 800;
    border-radius: .5em;
    border: none;
    padding: .8em 2em;
    cursor: pointer;
    background-color: #ffa11f;
}


.control-btn:focus, .control-btn:hover {

    background-color: #f1b863;
}