* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: yellow;
}
.title {
  text-align: left;
  margin-left: 100px;
}

.container {
  margin: 0 auto;
  width: 1300px;
}

.editor-top {
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  color: #fff;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

#preview {
  display: inline-block;
  border: solid 3px black;
  box-shadow: -10px 10px 1px black;
  height: auto;
  background-color: #fff;
  margin: 25px 0px 100px 0px;
  padding: 35px;
}

textarea {
  display: inline;
  margin: 17px 50px;
  border: solid 3px black;
  resize: none;
  outline: none;
  box-shadow: -10px 10px 1px black;
  height: 800px;
  min-height: 200px;
  padding: 30px;
  font-size: 12px;
}

footer {
  margin-top: 20px;
  padding: 5px;
  font-weight: bold;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: center;
}

/*Markdown */
p code {
  height: auto;
  background: rgb(184, 184, 184);
  color: black;
}

pre {
  border-radius: 8px;
  padding: 10px;
  margin: 15px;
  height: auto;
  background-color: rgb(184, 184, 184);
  color: black;
}

#preview blockquote {
  border-left: 3px solid rgb(184, 184, 184);
  color: black;
  padding-left: 5px;
  margin-left: 25px;
}

#preview h1 {
  border-bottom: black solid 3px;
}

#preview h2 {
  border-bottom: black solid 1px;
}
